body {
    background: url("../background-images/1.jpg");
    max-width: 100%; /*como max 100% de ancho*/
  
}

img{
    max-width: 100%;
    height: auto;
}


aside{
    width:4%; /*iconos no cojan todo el ancho d la pag*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

     aside img{
        width:75%;
        height:auto;
        display:block;
    }

    aside img:hover {
            filter: drop-shadow(3px 3px 4px yellow);
        }




article ul{
   display: flex; /*el flex por defecto los pone en línea*/
   padding: 0%; /*asegurar que no haya otro padding*/ /*tenemos 6 img, y cada una ocupará 100*/
   width: 600%; /*para que sólo aparezca una imagen junto con el overflow*//*yorki no puede morverse en estado inicial*/
   animation: slider 45s infinite alternate linear;
   margin-left:34%;
}

article {
    box-shadow: 2px -1px 5px #ffce00 , 2px -1px 10px #ffce00;
    border:2px solid #ffce00;
    width: 80%;
    overflow: hidden;
    margin-left: 6%; /*para que lo que hay dentro del verde no se desborde */
}

section{
    display: flex;
}

article ul li {
    width: 100%;
    list-style: none;/*quita los puntos de las listas*/
}

article ul li img{
    width:auto;
    height:300px;
}



@keyframes slider {
 
    6%{margin-left:34%;}  
    16%{margin-left:34%;}

    22%{margin-left:-66%;}/*la ballena n.2 ocupa el lugar de yorkim.1*/ 
    33%{margin-left:-66%;}/*Va de 100 en 100 xq ocupa el width total de l img q es 100%*/

    40%{margin-left:-166%;}
    50%{margin-left:-166%;}

    56%{margin-left:-266%;}
    66%{margin-left:-266%;}

    72%{margin-left:-366%;}
    86%{margin-left:-366%;}

    92%{margin-left:-466%;}
    100%{margin-left:-466%;}
}
